.product-listing{
    padding: 2rem 0 ;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(0 , 1fr));
    gap: 2rem .5rem;
}


@media (min-width:460px){
    .product-listing{
        display: grid;
        grid-template-columns: repeat(2, minmax(0 ,1fr));
    }
}

@media (min-width:1024px){
    .product-listing{
        display: grid;
        grid-template-columns: repeat(3, minmax(0 , 1fr));
    }
}
