@font-face {
  font-family: "tanha";
  src: url('../public/fonts/Tanha.eot');
  src: url('../public/fonts/Tanha.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Tanha.ttf') format('truetype'),
  url('../public/fonts/Tanha.woff') format('woff'),
  url('../public/fonts/Tanha.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html *{
  font-family: tanha,tahoma !important;
}

body{
  margin: 0 !important;
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products{
  margin:0 auto !important;
}